.container {
  padding:50px;
  background-color: white;
  color: black;
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.contentContainer {
  width: 60%;
  border-top: 25%;
}

.contentHeader{
  height: 50px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  box-shadow: -1px -5px 25px -10px rgba(0, 0, 0, 0.166), 0px 0px 0px 0px #000, 0px 0px 0px 0px #000, 0px 0px 0px 0px #000;
}
.contentHeader div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contentBody {
  height: auto;
  padding: 20px;
  box-shadow: -1px 0px 25px -10px rgba(0, 0, 0, 0.166), 0px 0px 0px 0px #000;
}