.container {
  width: 500px;
  height: 700px;
  padding: 30px;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.391);
  z-index: 2;
}

.headerContainer {
  display: flex;
  justify-content: end;
}